@import "../global";

.logo{
	background-image: url("/img/bg-heor.jpg");
}

.icon {
	height: 40px;
	width:40px;
	background: url("/img/spriteIcon.png") no-repeat;
}
.mail{
	background-position: -53px -50px;
}
.git{
	background-position: -455px -50px;
}
.fb{
	background-position: -225px -50px;
}
.skp{
	background-position: -283px -50px;
}